<p id="notice"><%= notice %></p>

<h1>My Courses</h1>

<%= link_to new_professors_course_path, class:"btn btn-success " do %>
  <%= fa_icon('plus-circle', type: :solid, text: ' Create')  %>
<% end %>


<table  class="table table-striped">
  <thead>
    <tr>
      <th>
        Name
      </th>
      <th>
        Code
      </th>
      <th colspan="2">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @courses.each do |course| %>
      <tr>
        <td>
          <%= link_to [:professors, course], class:"btn btn-link" do %>
            <%= course.name %>
          <% end %>
        </td>
        <td>
          <%= course.short_id %>
        </td>
        <td>
          <%= link_to edit_professors_course_path(course), class: "btn btn-outline-warning" do %>
            <%= fa_icon('edit', type: :solid, text: ' Edit')  %>
          <% end %>
        </td>
        <td>
          <%= link_to [:professors, course], method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-danger" do %>
            <%= fa_icon('trash', type: :solid, text: ' Delete')  %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
